body::before{
    display:block;
    content:"";
    height:100px;

    
}
/* 
.content{
    display: flex;
    flex-direction: column;
} */

.sidenav{
    min-height:100vh;
    position:fixed;
}

.matter{
    margin-left:30%;
    margin-right:5%;
}

ul{
    list-style-type: none ;
}

@media screen and (max-width: 991.98px){
    .matter{
        margin-bottom: 2%;
        margin-left:1%
    }
    .sidenav{
        display:none
    }
}


