* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body::before {
  display: block;
  content: "";
  height: 75px;
} */
/* body {
  background-color: #D4EDFF;
} */
.row {
  background-color: white;
  border-radius: 30px;
  /* box-shadow: ; */
  /* border-bottom-left-radius: 30px; */
}
.form-row {
  margin: 5px;
}
.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  color: white;
  background-color: black;
  border-radius: 4px;
  font-weight: bold;
}
.btn1:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.sbtn {
  padding-top: 3%;
}
